body {
  background-color: rgb(181, 176, 230);
}

  /* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
a {
  text-decoration: none;
 }
li {
  list-style: none;
 }

 .main-div {
   margin: 2%;
 }

 /* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  background-color: rgb(33, 43, 138);
  color: #fff;
 }
  /* LOGO */
.titre {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 30px;
 }
 /* NAVBAR MENU */
.connect {
  text-align: right;
  color:rgb(255, 255, 255);
  background-color: crimson;
  border-radius: 5px;
 } 

 .connect:hover {
  background-color: #7085a1;
  border-radius: 5px;
  transition: 0.3s ease;
 }

 .connect a {
  color:rgb(0, 255, 255);
 }
.menu {
  display: flex;
  gap: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
 }

.menu a{
  color:azure;
  width: 50%;
  padding: 5px 5px;
  text-align: center;
  vertical-align: middle;
 }

.button0:hover {
  cursor: pointer;
  background-color: #7085a1;
  border-radius: 5px;
  transition: 0.3s ease;
 }
.menu div {
  line-height: 50px;
  
 }

.bas{
  position: fixed;
  color: #fff;
  bottom: 0;
  width: 100%;
  background-color: #af89b4;
  background-attachment: scroll;
  text-align: center;
 }
 
 
 .container{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 110%;
  font-weight: bold;
  size: 30%;
  color: #001c33;
  margin-top: 5%;
  align-items: center;
}

.container p{
  margin-top: 2%;
}

.textbox{
  width: 50%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
}

.title1{
  text-align:center ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #001c33;
  margin-top: 5%;
  font-size: 50px;
  font-weight: bold;


}

.button1{
  cursor: pointer;
  background-color: #34179c; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  padding: 10px 12px;
}


.bulle{
  background-color: rgb(233, 236, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10%;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 5px 5px grey;
  transition: box-shadow 0.2s;

}

.imgdesc{
  width: 30%;

}

.title2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #001c33;
  font-size: 30px;
  font-weight: bold;
}

.desc{
  color: gray;
  font-family: sans-serif;
}


.search-form{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 110%;
  font-weight: bold;
  ;
}

.button3 {
  cursor: pointer;
  background-color: #34179c; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 100%;
}

.textbox1{
  width: 50%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
}

.like{
  cursor: pointer;
  background-color: #34179c; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  color: #fff;
}

.like_gray{ 
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}

.dislike{
  cursor: pointer;
  background-color: #d40000; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  color: #fff;
}

.dislike_gray{
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}

.votes{
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-style: ridge;
  border-color: rgb(37, 77, 77) ;
  margin: 0%;
  background-color: #7085a1;
  padding: 2px;
  text-align: center;
  border-radius: 5px;}

.votes-title{
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(189, 255, 255) ;
  margin: 0%;
  padding: 2px;
  text-align: center;
  border-color: #7085a1;

}

.votes-nb{
  display: inline-block;
  background: #fff;
  border-style: solid;
  border-color: rgb(255, 255, 255) ;
  color: rgb(37, 77, 77) ;
  margin: 2px;
  background-size: 200px;
}

.no_connect{
  text-align: center;
  color: #7085a1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 110%;
  font-weight: bold;
}

.tagbox{
  padding: 8px 2px;
  box-sizing: border-box;
  font-size: 16px;
}

.descbox{
  text-align: justify ;
  width: 80%;
  height: 80px;
  padding: 8px 2px;
  box-sizing: border-box;
  font-size: 16px;
}

.contentbox{
  width: 80%;
  height: 100px;
  padding: 8px 2px;
  box-sizing: border-box;
  font-size: 16px;

}

.filterbox{
  width: 20%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: left;
  position:fixed;
  background-color: rgb(148, 156, 209);
  margin: 2%;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 5px 5px grey;
  transition: box-shadow 0.2s;
}
.filterbox ul{
  width: 15%;
  margin: 2%;
}

.tags{
  width: 650%;
}

.wrapper{
  margin: 0;

}

.row {
  display: inline-block;
  margin: 0%;
  text-align: center;
  padding: 2%;
}

.articles{
  width: 80%;
  float: right;
}

.tag{
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-style: dashed;
  border-color: rgb(37, 77, 77) ;
  color: rgb(37, 77, 77) ;
  margin: 0%;
  text-align: center;
  border-radius: 5px;
}

/*Profile options*/

.titleProfile{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #001c33;
  font-size: 30px;
  font-weight: bold;
}

.emailProfile{
  color: gray;
  font-family: sans-serif;
}

.sous{
  font-style: italic;
  size: 2px;
  margin: 2%;
}

.notification{
color:red;
text-align: center;
font-family: 'Courier New', Courier, monospace;
font-style: italic;
}

.nom{
color: red;
}

.prenom{
color: orangered;
}

.statut{
color:rgb(14, 12, 134)
}

.role{
color:rgb(5, 4, 61)
}

.ita{
font-style: italic;
}