body {
  background-color: rgb(181, 176, 230);
}

  /* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
a {
  text-decoration: none;
 }
li {
  list-style: none;
 }

 /* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  background-color: rgb(33, 43, 138);
  color: #fff;
 }
  /* LOGO */
.titre {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 30px;
 }
 /* NAVBAR MENU */
.connect {
  text-align: right;
  color:rgb(255, 255, 255);
  background-color: crimson;
  border-radius: 5px;
 } 

 .connect:hover {
  background-color: #7085a1;
  border-radius: 5px;
  transition: 0.3s ease;
 }

.connect a {
  color:rgb(0, 255, 255);
 }
.menu {
  display: flex;
  gap: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
 }

.menu a{
  color:azure;
  width: 50%;
  padding: 5px 5px;
  text-align: center;
  vertical-align: middle;
 }

.button0:hover {
  background-color: #7085a1;
  border-radius: 5px;
  transition: 0.3s ease;
 }
.menu div {
  line-height: 50px;
  
 }

.bas{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #88888863;
  text-align: center;
 }
 
 
 .container{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 110%;
  font-weight: bold;
  size: 30%;
}

.container div{
  color: #001c33;
  margin-top: 5%;
  align-items: center;
}

.textbox{
  width: 50%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
}

.title1{
  text-align:center ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #001c33;
  margin-top: 5%;
  font-size: 50px;
  font-weight: bold;


}

.button1{
  background-color: #34179c; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  padding: 10px 12px;
}


.bulle{
  background-color: rgb(233, 236, 255);
  margin: 10%;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 5px 5px grey;
  transition: box-shadow 0.2s;

}

.imgdesc{
  width: 50%;

}

.title2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #001c33;
  font-size: 30px;
  font-weight: bold;
}

.desc{
  color: gray;
  font-family: sans-serif;
}


.search-form{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 110%;
  font-weight: bold;
  ;
}

.button3 {
  background-color: #34179c; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
}

.textbox1{
  width: 50%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
}

.like{
  background-color: #34179c; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  color: #fff;
}

.dislike{
  background-color: #d40000; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  color: #fff;
}

.no_connect{
  text-align: center;
  color: #7085a1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 110%;
  font-weight: bold;
}