{% extends "base.html" %}
{% block content %}
<div class="wrapper">
    
<div class="filterbox">
    <ul>
    <form method="get">
            <label for="tag">Tags</label>
            <select class="tags" name="tag" id="tags">
                <option value="">{{ current_tag or '--Choisissez un tag--' }}</option>
                {% for tag in tags %}
                    {% if tag.tag_name != current_tag %}
                        <option>{{ tag.tag_name }}</option>
                    {% endif %}
                {% endfor %}
                {% if current_tag %}
                    <option value="">Pas de tag</option>
                {% endif %}
            </select>
            <label for="sort_form">Trier par</label>
            <select class="tags" name="sort" id="sort_form">
                <option>{{ current_sort or 'Pertinence' }}</option>
                {% if current_sort == "Pertinence" %}
                    <option>Date</option>
                {% else %}
                    <option>Pertinence</option>
                {% endif %}
            </select>
            <button type="submit" class="button3">Go</button>
    </form>
    </ul>
</div>
<div class="articles">
    

{% for article in articles %}
    <a href='/project/ {{ article.article_id }}'>
        <div class="bulle">
            {% if not article.img_link %}
            <img class="imgdesc" src="{{ url_for('static', filename='padoru.png') }}" >
            {% else %}
            <img class="imgdesc" src="{{  url_for('static', filename=article.img_link) }} " >
            {% endif %}
            <h1>
                {{ article.title }}
            </h1>
            <article  class="desc">
                {{ article.description }}
            </article>
    
        </div>
    </a>
{% endfor %}
</div>
</div>
{% endblock %}