{% extends "base.html" %}
{% block content %}
<div class="bulle">
    <h1  class="title2">
        {{ article.title }}
    </h1>
    <p>écrit par {{ poster.name }} {{ poster.surname }}</p>
    {% if not article.img_link %}
    <img class="imgdesc" src="{{ url_for('static', filename='padoru.png') }}" >
    {% else %}
    <img class="imgdesc" src="{{  url_for('static', filename=article.img_link) }} ">
    {% endif %}
    <article class="content">
        {{ article.content }}
        
    </article>
    <div>
        {% if 'user_id' in session.keys() %}
        <button class="like">Pour</button>
        <button class="dislike">Contre</button>
        {% else %}
        <a href="/login"><p class="no_connect">Connectez vous pour voter</p></a>
        {% endif %}
    </div>
    <div > <div class="tag">{{ article.tag1 }}</div> <div class="tag">{{ article.tag2 }}</div> <div class="tag">{{ article.tag3 }}</div> </div>
</div>
       
{% endblock %}