{% extends "base.html" %}
{% block content %}
<div class="bulle">
    <h1  class="title2">
        {{ article.title }}
    </h1>
    <p>écrit par {{ poster.name }} {{ poster.surname }}</p>
    {% if not article.img_link %}
    <img class="imgdesc" src="{{ url_for('static', filename='padoru.png') }}" >
    {% else %}
    <img class="imgdesc" src="{{  url_for('static', filename=article.img_link) }} ">
    {% endif %}
    <div><div class="votes"><div class="votes-title">Pour   </div> <div class="votes-nb"> {{ article.vote_pos }}</div> </div> <div class="votes"> <div class="votes-title">Contre   </div><div class="votes-nb"> {{ article.vote_neg }}</div> </div></div>
    <article class="content">
        {{ article.content }}
        
    </article>
    <div>
        
        {% if 'user_id' in session.keys() %}
            {% if vote.user_vote == 1 %}
                <a class="like" href = '/project/like/{{ article.article_id }}'>Pour</a>
                <a class="dislike_gray" href='/project/dislike/{{ article.article_id }}'>Contre</a>
            {% elif vote.user_vote == -1 %}
                <a class="like_gray" href = '/project/like/{{ article.article_id }}'>Pour</a>
                <a class="dislike" href='/project/dislike/{{ article.article_id }}'>Contre</a>
            {% else %}
                <a class="like" href = '/project/like/{{ article.article_id }}'>Pour</a>
                <a class="dislike" href='/project/dislike/{{ article.article_id }}'>Contre</a>
            {% endif %}
        {% else %}
        <a href="/login"><p class="no_connect">Connectez vous pour voter</p></a>
        {% endif %}
    </div>
    <div > <div class="tag">{{ article.tag1 }}</div> <div class="tag">{{ article.tag2 }}</div> <div class="tag">{{ article.tag3 }}</div> </div>
</div>
       
{% endblock %}