<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=..\static\styles.css>
    <title>Ekklesia</title>
</head>
<body> 
  <nav class="navbar">
    <div class="titre">Ekklesia</div>
    <div>
      <!-- connection -->
      
      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <div><a href="/">Home</a></div>
        <div><a href="/">Projets</a></div>
        <div><form method="get" autocomplete="off" class="search-form">
          <input  name="search" type="text" placeholder="Chercher projet" autofocus>
          <button type="submit"><span class="material-icons">search</span></button>
      </form>
      </div>
        <div class="connect"><a href="/login">Connexion</a></div>
      </div>
  </nav>
  <div class="main-div">
    {% block content %}{% endblock %}
  </div>

  <footer class="bas">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 PPII
    </div>
    
  </footer>
</body>
</html>