<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=..\static\styles.css>
    <title>Ekklesia</title>
</head>
<body> 
  <nav class="navbar">
    <div class="titre">Ekklesia</div>
    <div>
      <div class="menu">
        <div class="button0"><a href="/">Home</a></div>
        {% if status == poster %}
        <div class="button0"><a href="/postpage">Publier</a></div>
        {% endif %}
        <div class="button0"><a href="/projects">Projets</a></div>
        <div class="search-form"><form  method="get" autocomplete="off">
          <input class="textbox1"  name="search" type="text" placeholder="Chercher projet" autofocus>
          <button type="submit" formaction="/search"><span class="button3">search</span></button>
      </form>
      </div>
      {% if logged_in %}
      <div class="connect"><a href="/logout">Déconnexion</a></div>
      {% else %}
      <div class="connect"><a href="/login">Connexion</a></div>
      {% endif %}
      </div>
  </nav>
  <div class="main-div">
    {% block content %}{% endblock %}
  </div>

  <footer class="bas">
    <div>
      © 2021 PPII
    </div>
    
  </footer>
</body>
</html>