{% extends "base.html" %}
{% block content %}
    
{% for article in articles %}
    <a href='/project/ {{ article.article_id }}'>
        <div class="bulle">
            {% if not article.img_link %}
            <img class="imgdesc" src="{{ url_for('static', filename='padoru.png') }}" >
            {% else %}
            <img class="imgdesc" src="{{  url_for('static', filename=article.img_link) }} ">
            {% endif %}
     
            <h1>
                {{ article.title }}
            </h1>
            <article  class="desc">
                {{ article.description }}
            </article>
    
        </div>
    </a>
{% endfor %}
{% endblock %}