{% extends "base.html" %}
{% block content %}
<div class="title1"><p>LOGIN</p></div>
<div class="container" >
    <form method="post">
        <div><p>Email:</p><input class="textbox" type="email" name="email" id="email_input" placeholder='Email'></div>
        <div><p>Password:</p><input class="textbox" type="password" name="password" id="pwd_input" placeholder='Password'></div>
        <div><button class="button1" type="submit">Login</button></div>
    </form>
</div>
<div class="sous">Pas de compte? <a href="/register">Créer un compte</a></div>
{% endblock %}