{% extends "base.html" %}
{% block content %}
{% if 'user_id' in session.keys() %}

<form class="container" method="post">
<table class="Infos-profile">
<tr><td><div class="title1">Mon espace profil</div></td></tr>
<tr><td><p>Votre Nom: {{ user.surname }}</p> Modifiez votre nom: <input class="textbox" type="text" name="name" id="name_input" placeholder='New surname'> </td></tr>
<tr><td><p>Votre Prénom: {{ user.name }}</p> Modifiez votre prénom: <input class="textbox" type="text" name="surname" id="surname_input" placeholder='New name'></td></tr>
<tr><td><p>Vous êtes enregistré avec l'email:</p></td></tr>
<tr><td><p class="ita">{{ user.email }}</p></td></tr>
<tr><td> Modifiez votre email: <input class="textbox" type="email" name="email" id="email_input" placeholder='New email'> </td></tr>
<tr><td> <p></p>Votre Statut est {{ user.statut }} et votre rôle est {{ user.role }}<p></p></td></tr>
<tr><td>  
<div>Redonnez votre mot de passe ou créez-en un nouveau</div>
<input class="textbox" type="password" name="password" id="pwd_input" placeholder='New password'>
<input class="textbox" type="password" name="re_password" id="re_pwd_input" placeholder='Confirm new password'>
<p><button class="button1" type="submit">Mettre à jour vos données</button></p>
</td></tr>
</table>
</form>

{% else %}

<div class="title1"><p>Vous n'êtes pas connecté, merci de vous connecter si vous souhaitez accéder à votre profil.</p></div>
<a href="/">Retour à l'accueil</a>

{% endif %}

{% endblock %}
