{% extends "base.html" %}
{% block content %}
{% if 'user_id' in session.keys() %}
<div class="title1"><p>Informations sur votre profil</p></div>
<form class="container" method="get">
<table>
<tr>
<h1 class="titleProfile">
<p class="nom">Votre Nom: {{ user.surname }}</p>
<p class="prenom">Votre Prénom: {{ user.name }}</p>
</h1>
</tr>
<tr>
<h2 class="emailProfile">
<p> Vous êtes enregistré avec l'email: <p class="ita">{{ user.email }}</p></p>
</h2>
</tr>
<tr>
<p class="statut"> Votre Statut: {{ user.statut }}</p>
<p class="role"> Votre Role: {{ user.role }}</p>
</tr>
</table>
</form>

{% else %}

<div class="title1"><p>Vous n'êtes pas connecté, merci de vous connecter si vous souhaitez accéder à votre profil.</p></div>
<a href="/">Retour à l'accueil</a>

{% endif %}

{% endblock %}

Améliorations:
Ajouter nombre de publications de l'utilisateur
Nombre de likes
Un moyen SECURISE de voir le mot de passe
