{% extends "base.html" %}
{% block content %}
{% if 'user_id' in session.keys() %}
<div class="title1"><p>Informations sur votre profil</p></div>
<form class="container" method="get">
    <div>
        <h1 class="titleProfile">
            <p>Votre Nom {{ user.name }}</p>
            <p>Votre Prénom {{ user.surname }}</p>
        </h1>
        <h2 class="emailProfile">
            <p> Vous êtes enregistré avec l'email {{ user.email }}</p>
        </h2>
    <p> Votre Statut {{ user.statut }}</p>
    <p> Votre Role {{ user.role }}</p>
    </div>
    </form>
{% else %}


{% endblock %}

Améliorations:
Ajouter nombre de publications de l'utilisateur
Nombre de likes
Un moyen SECURISE de voir le mot de passe
