{% extends "base.html" %}
{% block content %}
<div class="bulle">
    <a href='/'>
        <h1  class="title2">
            titre test
        </h1>
        <img class="imgdesc" src="{{ url_for('static', filename='padoru.png') }}" >
        <article class="desc">
            desctests;kjg q,j gfwudg rsgkwskdsb ksh glssdfh skjkshfk skjkshfkqf

            
        </article>
        
        <div class="bulle">
            <h1>
                {{ article.title }}
            </h1>
            <article  class="desc">
                {{ article.description }}
            </article>
    </a>
    </div>
{% endblock %}