{% extends "base.html" %}
{% block content %}
<form method="post">
    <input type="text" name="name" id="name_input" placeholder='Name'>
    <input type="text" name="surname" id="surname_input" placeholder='Surname'>
    <input type="email" name="email" id="email_input" placeholder='Email'>
    <input type="password" name="password" id="pwd_input" placeholder='Password'>
    <input type="password" name="re_password" id="re_pwd_input" placeholder='Confirm password'>
    <button type="submit">Login</button>
    </form>
{% endblock %}